@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: "Work Sans";
  font-size: 1.3rem;
  text-decoration: none;
}

header {
  max-width: 100rem;
  margin: 0 auto;
  padding: 3rem;
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}
header div {
  width: 40%;
  height: auto;
  gap: 1.2rem;
  display: flex;
  align-items: center;
}
header div img {
  height: 1.5rem;
}
header nav {
  height: 5vh;
  margin-right: 50px;
  display: flex;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
header nav ul li {
  list-style: none;
  color: purple;
  font-style: initial;
}

main {
  max-width: 100rem;
  min-height: 85vh;
  margin: 0;
}
main .hero {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
main .hero h1 {
  margin-bottom: 1.8rem;
}
main .hero .intro {
  font-size: 1.5rem;
  font-weight: 100;
}
main .button {
  margin: 5px;
  color: white;
  background-color: black;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}
main .button img {
  height: 30px;
}

.cards {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.cards .article-1 {
  height: 45rem;
  width: 35rem;
  color: white;
  background-position: center;
  background-size: cover;
  padding: 30px;
  background-image: url(./images/white-box.jpg);
}
.cards h2 {
  padding: 3rem;
  margin: 2rem;
  text-shadow: -5px 0px 10px black;
}
.cards img {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.242);
  height: 3rem;
  margin-left: 6.5rem;
}
.cards .article-2 {
  height: 45rem;
  width: 35rem;
  color: white;
  background-position: center;
  background-size: cover;
  padding: 30px;
  background-image: url(./images/room.jpg);
}
.cards .article-2 h2 {
  padding: 3rem;
  margin: 2rem;
  text-shadow: -5px 0px 10px black;
}
.cards .article-2 img {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.242);
  height: 3rem;
  margin-left: 6.5rem;
}
.cards .article-3 {
  height: 45rem;
  width: 35rem;
  color: white;
  background-position: center;
  background-size: cover;
  padding: 30px;
  background-image: url(./images/black-white.jpg);
}
.cards .article-3 h2 {
  padding: 3rem;
  margin: 2rem;
  text-shadow: -5px 0px 10px black;
}
.cards .article-3 img {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.242);
  height: 3rem;
  margin-left: 6.5rem;
}
.cards footer {
  width: 70%;
  display: flex;
  justify-content: center;
  color: gray;
}
