@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import "reset";
@import "mixins";

@mixin article-style {
    height: 45rem;
    width: 35rem;
    color: white;
    background-position: center;
    background-size: cover;
    padding: 30px;
}

@mixin card-head {
    padding: 3rem;
    margin: 2rem;
    text-shadow: -5px 0px 10px black;
}

@mixin card-img {
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.242);
    height: 3rem;
    margin-left: 6.5rem;

}




:root {
    font-size: 10px;
}

body {
    font-family: "Work Sans";
    font-size: 1.3rem;
    text-decoration: none;
}

// navbar
header {
    max-width: 100rem;
    margin: 0 auto;
    padding: 3rem;
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;

    div{
        width: 40%;
        height: auto;
        gap: 1.2rem;
        display: flex;
        align-items: center;
        
       
    
    img {
        
        height: 1.5rem;
    }

        }

    nav {
        height: 5vh;
        margin-right: 50px;
        display: flex;
        
       
        ul{
            display: flex;
            justify-content: space-between;
            gap: 1.5rem;
            

            li {
                list-style: none;
                color: purple;
                font-style:initial;
              }
              
    }
  
 }
}
// navbar end

// main

main {
    max-width: 100rem;
    min-height: 85vh;
    margin: 0;

    .hero {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        h1 {
            margin-bottom: 1.8rem;
           }
           .intro {
            font-size: 1.5rem;
            font-weight: 100;
           }
    }



//Button ==> Watch Story Video

 
  .button{  
        margin: 5px;
        color: white;
        background-color: black;
        display: flex;
        width: fit-content;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.4rem;
        text-transform: uppercase;

    
    img {
        height: 30px;
    }
}
}


//cards

.cards {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:3rem;
    
    .article-1 {
        @include article-style();
        background-image: url(./images/white-box.jpg);

        
    }
    h2 {
        @include card-head;
    }
    img {
        @include card-img();
    }
     .article-2 {
    
        @include article-style();
        background-image: url(./images/room.jpg);
      

        h2 {
            @include card-head;
        }

        img {
            @include card-img();
        }
    
    }
   

    

    .article-3 {
        @include article-style();
        background-image: url(./images/black-white.jpg);
        
        h2 {
            @include card-head;
        }
        img {
            @include card-img();
        }
       

}



//cards noch nicht fix

//All rights

footer {
    width: 70%;
    display: flex;
    justify-content: center;
    color: gray;

}

}